<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
Name : <%= @name %>
Email : <%= @email %>
positionappliedfor <%= @positionappliedfor %>
telephone
address
postcode
secondaryschool
datestartandfinished
examinationsandresults
furtheredandtraining
datestartandfinishedtwo
coursesandqualifications
employername
employeraddress
fromandto
descriptionofrole
reasonforleaving
</body>
</html>