<div class="center_contact">
  <div class="contact_left">
    <b>Paul @ Stranmillis</b></br>
    </br>
    66/70 Stranmillis Road</br>
    Belfast</br>
</br>
    02890684740</br>
</br>
    mcgoveranstranmillis@centra.co.uk
  </div>
  <div class="contact_right">
    <b>Jamie @ Malone</b></br>
</br>
    42/46 Malone Road</br>
    Belfast</br>
</br>
    02890380111</br>
</br>
    mcgoveranmaloneroad@centra.co.uk
  </div>
</div>